server:
  port: 9000

spring:
  datasource:
    url: jdbc:h2:mem:demo
    username: thafonso
    password:

jpa:
  hibernate:
    ddl-auto: update
  open-in-view: false
  properties:
    hibernate:
      format_sql: true
h2:
  console:
    enabled: true
    path: /h2

springdoc:
  swagger-ui:
    path: /swagger-ui.html